<ul>
  <li class="{% if page.home %}current{% endif %}">
    <a href="{{ site.url }}/">Home</a>
  </li>
  <li class="{% if page.url contains '/what/' ' %}current{% endif %}">
    <a href="{{ site.url }}/what">What is DocUI?</a>
  </li>
  <li class="{% if page.url contains '/intro/'  %}current{% endif %}">
    <a href="{{ site.url }}/intro">Getting started</a>
  </li>
  <li class="{% if page.url contains '/customize/' %}current{% endif %}">
    <a href="{{ site.url }}/customize/home">Build your own</a>
  </li>
  <li class="{% if page.url contains '/downloads/'  %}current{% endif %}">
    <a href="{{ site.url }}/downloads/">Downloads</a>
  </li>
  <li class="">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
